[submodule "themes/cactus"]
	path = themes/cactus
	url = git@github.com:jsnv-dev/hugo_theme_cactus_dark_gruvbox
	branch = main
[submodule "themes/hugo_theme_cactus_dark_gruvbox"]
	path = themes/hugo_theme_cactus_dark_gruvbox
	url = https://github.com/jsnv-dev/hugo_theme_cactus_dark_gruvbox
	branch = main
