$color-background: #1d2021;
$color-footer-mobile-1: lighten($color-background, 2%);
$color-footer-mobile-2: lighten($color-background, 10%);
$color-background-code: lighten($color-background, 2%);
$color-border: #928374;
$color-meta: #928374;
$color-meta-code: #928374;
$color-link: #fe8019;
$color-text: #fbf1c7;
$color-accent-3: #fbf1c7;
$color-accent-2: #8ec07c;
$color-accent-1: #8ec07c;
$color-quote: #98971a;
